//
   Created by tygiacalone on 5/9/16.
extends layout

block content
   h1= title
   p Welcome to #{title}
   h2 GET routes are:
      br
      a(href='/signin', class='text-center new-account') /signin
      br
      a(href='/signup', class='text-center new-account') /signup
      br
      a(href='/home', class='text-center new-account') /home
      br
      a(href='/users', class='text-center new-account') /users
      br
      a(href='/restaurants', class='text-center new-account') /restaurants
      br
      a(href='/ratings', class='text-center new-account') /ratings
      br
      a(href='/search', class='text-center new-account') /search